<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <servlet>
  	<servlet-name>AddingNumbers</servlet-name>
  	<servlet-class>glossaryApp.add</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AddingNumbers</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>Onload</servlet-name>
  	<servlet-class>glossaryApp.displayAll</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Onload</servlet-name>
  	<url-pattern>/displayAll</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>wordMeaning</servlet-name>
  	<servlet-class>glossaryApp.wordDefinition</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>wordMeaning</servlet-name>
  	<url-pattern>/definition</url-pattern>
  </servlet-mapping>
  
</web-app>